#memoryGame {
  display: grid;
  grid-gap: 0.8vmax;
  /* padding: 20px; */
  width: 92vmin;
  height: 92vmin;
}
#navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 2vmax;
  height: 83vmin;
  font-size: 3vmax;
}
.card {
  display: flex;
  /* margin: 5px; */
  border: 1px solid #ccc;
  cursor: pointer;
  transition: transform 0.5s ease;
  position: relative;
  transform: rotateY(180deg);

  * {
    transition: all 0.5s ease;
  }

  &.flip {
    transform: rotateY(0deg);

    .card-face {
      opacity: 1;
    }
    .card-back {
      opacity: 0;
    }
  }

  .card-content {
    position: absolute;
    left: 0px;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .card-face {
    opacity: 0;
  }
  .card-back {
    background-image: url("./img/flowers/5.jpeg");
    opacity: 1;
  }
}

body {
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 2vmax;
  /* text-shadow: 0.2vmax 0.2vmax 0.3vmax black; */
  font-weight: bold;
}

#menu {
  overflow: hidden;
  display: flex;
  gap: 5vmax;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url("./img/ui/bg.jpeg");
  background-position: center;
  background-size: cover;

  .text-button {
    font-size: 5vmax;
    padding: 2vmax;
    border-radius: 2vmax;
  }
}

#main {
  overflow: hidden;
  display: grid;
  grid-template-columns: 9fr 3fr;
  width: 100vw;
  height: 100vh;

  background-image: url("./img/ui/bg.jpeg");
  background-position: center;
  background-size: cover;

  & > div {
    display: flex;
    align-items: center;
    justify-content: center;

    &:last-of-type {
      background-color: #00000096;
    }
  }
}

.exit-conteiner {
  cursor: pointer;

  img {
    width: 5vmax;
    display: block;
    /* transform: rotate(180deg); */
  }
  /* align-self: self-end; */
}

.isSelectable.selected {
  box-shadow: 0px 0px 12px 13px #df8300;
  &.text-button {
    /* box-shadow: 0px 0px 18px 9px #ffffff; */
    /* color: green; */
  }
  z-index: 1;
}

#exitWindow,
#endResult {
  display: none;
}

.buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vmax;
}
.text-button {
  display: inline-block;
  border-radius: 1vmax;
  padding: 1vmax;
  background-color: #df8300;
  color: white;
  cursor: pointer;
  border: 0.2vmax solid white;
}

.popup {
  position: fixed;
  display: flex;
  background-color: #00000096;
  justify-content: center;
  align-items: center;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.exit-window-content {
  width: 50vmax;
  height: 20vmax;
  background-image: url(./img/ui/jpeg/citten.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #f9db9c;
  border-radius: 1vmax;
  box-shadow: 0px 0px 18px 7px black;
  padding: 1vmax;
  padding-left: 21vmax;
  box-sizing: border-box;
  color: #910800;
  /* text-shadow: 0.0vmax 0.0vmax 0.1vmax white; */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3vmax;

  &.happy {
    background-color: #f9db9c;
    background-image: url(./img/ui/jpeg/citten-happy.jpeg);
  }
}

.difficult {
  display: flex;
  flex-direction: column;
  gap: 1vmax;
  width: 50vmax;
  color: white;
  font-size: 2.2vmax;
  text-align: center;
  background: #00000096;
  padding: 2vmax;
  border-radius: 2vmax;
  margin-top: -4vmax;

  #difficultTitle {
    font-size: 3.2vmax;
  }
}
.change-difficult {
  width: 100%;
  img {
    width: 100%;
  }
  display: flex;
  align-items: center;
  justify-content: center;
}

.difficult-img-container {
  display: flex;
  flex-direction: column;
  gap: 1vmax;

  img {
    width: 100%;
  }
}
.difficult-inputs {
  display: grid;
  grid-gap: 2vmax;
  grid-template-columns: 1fr 4fr 1fr;
  width: 100%;

  .arrow.left {
    transform: rotate(90deg);
  }
  .arrow.right {
    transform: rotate(-90deg);
  }

  .arrow.selected {
    /* background-color: #ffe5c8; */
    border-radius: 10%;
    /* padding: 1vmax; */
    /* box-shadow: none; */
  }
}
